*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.accordion {
  width: 60%;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.accordion-item {
  border-bottom: 1px solid #ccc;
}

.accordion-header {
  background-color: #f1f1f1;
  padding: 10px;
  cursor: pointer;
  position: relative;
  font-size: 18px;
}

.accordion-content {
  background-color: #fff;
  transition: max-height 0.3s ease-out;
  overflow-y: hidden;
  max-height: 0px;
  text-align: justify;
}
.accordion-content > p{
  padding: 10px 15px 15px 15px;
}

.accordion-header::after {
  content: "+";
  position: absolute;
  right: 20px;
  font-size: 20px;
  transition: transform 0.4s ease;
}

.accordion-header.active::after {
  content: "-";
}

.accordion-header.active {
  background-color: #ddd;
}
